<a href="https://colab.research.google.com/github/fatach/Sentiment_analysis/blob/main/Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the librairie
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv("train.csv",encoding='latin-1')
df.shape
print(df.columns)
#df.columns=['id','label','tweet']
print(df)

Index(['id', 'label', 'tweet'], dtype='object')
           id  label                                              tweet
0           1      0                       is so sad for my APL frie...
1           2      0                     I missed the New Moon trail...
2           3      1                            omg its already 7:30 :O
3           4      0            .. Omgaga. Im sooo  im gunna CRy. I'...
4           5      0           i think mi bf is cheating on me!!!   ...
...       ...    ...                                                ...
99984   99996      0  @Cupcake  seems like a repeating problem   hop...
99985   99997      1  @cupcake__ arrrr we both replied to each other...
99986   99998      0                     @CuPcAkE_2120 ya i thought so
99987   99999      1  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...
99988  100000      1                    @cupcake_kayla haha yes you do

[99989 rows x 3 columns]

In [ ]:
#import nltk
#nltk.download('punkt')
# split into words
#from nltk.tokenize import word_tokenize
#tokens = word_tokenize(df)
#print(tokens[:100])

In [ ]:
data=df['tweet']
#print(data)
data.str.split()
data=pd.DataFrame(data)
data['labels']=df['label']
print(data)

                                                   tweet  labels
0                           is so sad for my APL frie...       0
1                         I missed the New Moon trail...       0
2                                omg its already 7:30 :O       1
3                .. Omgaga. Im sooo  im gunna CRy. I'...       0
4               i think mi bf is cheating on me!!!   ...       0
...                                                  ...     ...
99984  @Cupcake  seems like a repeating problem   hop...       0
99985  @cupcake__ arrrr we both replied to each other...       1
99986                     @CuPcAkE_2120 ya i thought so        0
99987  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...       1
99988                    @cupcake_kayla haha yes you do        1

[99989 rows x 2 columns]

In [ ]:
# creation des vecteur one Hot
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [ ]:
x_train_count = count_vect.fit_transform(data.tweet)

In [ ]:
x_train_count

<99989x105849 sparse matrix of type '<class 'numpy.int64'>'
	with 1191479 stored elements in Compressed Sparse Row format>

In [ ]:
# Dimunition du  nombre de feature
count_vect = CountVectorizer(max_features=5000)

In [ ]:
x_train_count = count_vect.fit_transform(data.tweet)

In [ ]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
# Dans le traitement de langage naturel les algorithmes les plus utilises sont: le Regression Logistique et le SVM Lineaire

# Definition de notre model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
print(classifier)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Apprentissage du due modele
classifier.fit(x_train_count,data.labels)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Prediction sur les donnees de test

In [ ]:
# Load test datset
df_test = pd.read_csv("test.csv",encoding='latin-1')

In [ ]:
df_test.shape

(31962, 3)

In [ ]:
df_test.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [ ]:
df_test.columns=['id','label','tweet']

In [ ]:
df_test =df_test.drop(columns='id',axis=1)

In [ ]:
df_test.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [ ]:
df_test

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?Ã°ÂÂÂÃ°ÂÂÂÃ°ÂÂ...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [ ]:
test_data=df_test['tweet']
#print(data)
test_data.str.split()
test_data=pd.DataFrame(test_data)
test_data['labels']=df_test['label']
print(test_data)

                                                   tweet  labels
0       @user when a father is dysfunctional and is s...       0
1      @user @user thanks for #lyft credit i can't us...       0
2                                    bihday your majesty       0
3      #model   i love u take with u all the time in ...       0
4                 factsguide: society now    #motivation       0
...                                                  ...     ...
31957  ate @user isz that youuu?Ã°ÂÂÂÃ°ÂÂÂÃ°ÂÂ...       0
31958    to see nina turner on the airwaves trying to...       0
31959  listening to sad songs on a monday morning otw...       0
31960  @user #sikh #temple vandalised in in #calgary,...       1
31961                   thank you @user for you follow         0

[31962 rows x 2 columns]

In [ ]:
x_test_count = count_vect.transform(test_data.tweet)

In [ ]:
# Prediction
Y_pred = classifier.predict(x_test_count)

In [ ]:
Y_pred

array([1, 1, 1, ..., 0, 1, 1])

In [ ]:
# Evaluation du model
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred, df_test.label)

0.2898754771290908